header {
  align-items: center;
  margin: 0;
  padding: 0;
  text-align: center;
  /*For the few browsers that don't fully support gradient*/
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(42, 42, 42, 1) 100%
  );
  color: white;
}

#title {
  color: white;
  font-size: 10em;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
  margin: 0;
}

#about-artist {
  color: black;
  text-align: center;
  font-size: 2em;
  margin: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  /*For the few browsers that don't fully support gradient*/
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(252, 252, 252, 1) 100%
  );

  padding: 90px 50px;
}

.doc-div {
  display: flex;
  flex-wrap: wrap;

  flex-direction: column;
  text-align: center;

  padding: 90px 20px;

  font-size: 1em;
}

.flex-container > div {
  padding: 100px;
}

.animate-ears {
  animation: earsUp 3s infinite;
  animation-timing-function: linear;
}
ul {
  list-style: none;
}

@keyframes earsUp {
  from {
    y: 150px;
  }
  to {
    y: 0px;
  }
}
